.test_card {
  padding: 1em;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  width: 24%;
  margin: 0.5%;
}

.test_card h4 {
  background-color: #5e17eb;
  color: #fff;
  padding: 0.4em;
  margin-bottom: 1.3em;
  font-size: 1.3em;
}

.test_card p {
  color: #7a7a7a;
  margin-bottom: 1em;
}

.test_card p span {
  font-weight: bold;
}

.category_text {
  display: flex;
  align-items: center;
}

.state_text {
  display: flex;
  align-items: center;
}

.category_text span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}
.state_text span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.state_text .funcionando {
  background-color: rgb(202, 2, 152);
}
.state_text .erro {
  background-color: rgb(151, 2, 10);
}

.category_text .development {
  background-color: rgb(76, 253, 31);
}
.category_text .staging {
  background-color: rgb(202, 2, 152);
}
.category_text .production {
  background-color: rgb(151, 2, 10);
}

.test_card_actions {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
}

.test_card_actions a,
.test_card_actions button {
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #222;
  font-size: 0.9em;
  padding: 0.6em 1em;
  margin-right: 1em;
  cursor: pointer;
  border: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.test_card_actions svg {
  margin-right: 0.5em;
}

.test_card_actions a:hover,
.test_card_actions button:hover {
  background-color: #5e17eb;
  color: #fff;
}
