.message {
  width: 100%;
  padding: 1em;
  border: 1px solid #000;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
  border-radius: 5px;
}

.sucess {
  color: #fff;
  background-color: #155724;
  border-color: #fff;
}

.error {
  color: #fff;
  background-color: red;
  border-color: #fff;
}
