* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body #root {
  background-color: #efefef;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}
